@media screen and (max-width: 480px) {}

/* @media screen and (min-device-width: 0) and (max-device-width: 767px) {
    
} */
@media screen and (min-width:768px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width:1200px) {
    * {
        margin: 0;
        font-family: 'Montserrat';
        padding: 0;
        color: white;
    }
    html {
        scroll-behavior: smooth;
    }
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AF9331;
    }

    .swiper {
        width: 100%;
        /* margin: 0; */
        height: fit-content;
    }

    .swiper-wrapper img {
        width: 101.1%;
        height: 100%;
        position: relative;
        left: -15px;
    }

    .swiper .swiper-pagination-bullet-active {
        background-color: #AF9331;
    }



    .hero_text {
        top: 279px;
        left: 4.36%;
        z-index: 2;
        position: absolute;
    }

    .hero_text h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
    }

    .hero_text p {
        font-style: normal;
        font-weight: 600;
        width: 41%;
        font-size: 35px;
        line-height: 43px;
    }

    .hero_text a {
        font-weight: 700;
        width: 211px;
        height: 65px;
        font-size: 25px;
        position: relative;
        top: 30px;
        background: #AF9331;
        padding: 20px 25px;
        border-radius: 50px;
        text-decoration: none;
    }

    nav {
        z-index: 12;
        width: 100%;
        background-color: #AF9331;
        position: fixed;
        height: 60px;
        left: 0px;
        top: 0px;
    }

    .logo {
        position: absolute;
        top: 15px;
        left: 61px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    ul {
        position: relative;
        top: 20px;
    }

    li {
        position: absolute;
        display: inline;
        padding: 20px;
        top: 1px;
        position: relative;
        left: 27%;
    }

    nav input {
        border-radius: 20px;
        border: none;
        padding-left: 10px;
        float: right;
        color: black;
        position: relative;
        right: 9%;
        top: -4px;
        width: 17.9%;
        height: 30.5px;
    }

    nav input:focus {
        outline: none;
    }

    nav .icons {
        float: right;
        left: 16%;
        top: -4px;
        position: relative;
    }

    nav #search {
        position: relative;
        left: -45%;
        top: -10px;
        z-index: 2;
        color: black;
    }

    nav #profile {
        position: relative;
        left: -16%;
    }

    .category {
        background: #DEDEDE80;
        height: 19pc;

    }

    .all_category {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
        row-gap: 30px;
        column-gap: 20px;
        position: relative;
        top: 2.5pc;
        left: 4%;
        width: 92%;
        height: 84%;
        scrollbar-width: none;

        overflow-x: scroll;
    }

    .all_category img {
        border-radius: 6px;
    }

    .all_category h3,
    .all_store h3 {
        text-align: center;
        color: #AF9331;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        top: 6px;
    }

    .all_category::-webkit-scrollbar {
        width: 12px;
    }



    .middle {
        height: max-content;
        width: 93%;
        position: relative;
        left: 3.4%;
        flex-wrap: wrap;
        margin-bottom: 170px;
        display: flex;
        top: 70px;
        background: #EFEBC3;
    }

    .top_middle {
        background-color: #AF9331;
        height: 68px;
        position: relative;
        top: 0px;
        width: 100%;
    }

    .all_product {
        display: flex;
        row-gap: 20px;
        top: 30px;
        flex-basis: 100%;
        position: relative;
        column-gap: 19px;
        flex-wrap: wrap;
        height: max-content;
    }

    .product {
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
        height: 335px;
        border-radius: 20px;
        width: 23.7%;
        background-color: white;

    }

    #prev {
        color: black;
        top: 43%;
        left: 1%;
        font-size: 20px;
        position: relative;
    }

    #next {
        color: black;
        font-size: 20px;
        float: right;
        position: relative;
        top: -45%;
        left: -1.2%;
    }

    .ab {
        text-align: center;
        color: black;
        z-index: 45;
    }

    .ab h3,
    .ab p {
        color: #AF9331;
        font-weight: bold;
    }

    .ab h3 {
        font-size: 17px;
    }

    .ab p {
        font-size: 15px;

    }

    .discount {
        width: 93%;
        height: 300px;
        margin-bottom: 10px;
        position: relative;
        left: 3.4%;
        background-color: #EFEBC3;
    }

    .discount_shop {
        /* margin-left: 10px; */
        height: 300px;
        padding: 0px;
        border-radius: 5px;
        text-align: center;
        width: 296px;
        background-color: #AF9331;
    }

    .discount_shop h1,
    .discount_shop h2,
    .discount_shop h3 {
        top: 40px;
        position: relative;
    }

    .discount_shop h1 {
        font-size: 39px;
    }

    .discount_shop h2 {
        font-size: 20px;
    }

    .discount_shop h3 {
        font-size: 25px;
    }

    .discount_shop a {
        font-size: 17px;
        padding: 20px 30px 20px 30px;
        position: relative;
        top: 88px;
        border-radius: 90px;
        font-weight: bolder;
        color: #AF9331;
        font-family: poppins;
        /* height: 36px; */
        background-color: #ffffff;
        text-decoration: none;
        width: 19%;
    }

    .our_store {
        width: 93%;
    }

    #all_img,
    .our_store {
        left: 3.4%;
        width: 93%;
        position: relative;
    }

    .all_store {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -70px;
        padding: 20px 20px 25px 20px;
        row-gap: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        column-gap: 15px;
    }

    .all_store .all {
        width: 23.9%;
    }

    .all_store .all img {
        border-radius: 10px;
    }

    .our_store .head {
        height: 60px;
        text-align: center;
        width: 100%;
        padding-top: 23px;
        left: 3.4%;
        background-color: #AF9331;
    }

    .foot_head {
        position: relative;
        width: 100%;
        height: 229.48px;
        left: 0px;
        margin-bottom: 40px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.275), black);
    }

    .newsletter {
        position: relative;
        /* left: 30%; */
        top: 28px;
        text-align: center;
        float: right;
        width: 50%;
    }
    .newsletter h3 {
        color: #AF9331;
    }
    .newsletter input[type='email']:focus{
        outline: none;
    }
    #new_mail {
        color: black;
        position: relative;
        top: 20px;
        left: 15%;
        z-index: 5;
    }
    .newsletter input[type='email'] {
        height: 46px;
        border:none;
        width: 60%;
        position: relative;
        top: 20px;
        left: 62px;
        color: black;
        padding-left: 50px;
        border-radius: 50px;
    }
    .newsletter input[type='submit'] {
        border-radius: 50px;
        height: 46px;
        border:none;
        font-weight: bold;
        width: 20%;
        top: 20px;
        position: relative;
        right: 10%;
        background-color:#AF9331;
    }
    .foot_head .logo {
        position: relative;
        top: 41%;
        width: 80%;
    }
    .foot_bottom h3 {
        color: #AF9331;
        font-size: 19px;
        font-weight: bolder;
    }
    .foot_bottom hr {
        margin-top: 15px;
        border: 2px solid #AF9331;
        border-radius: 20px;
        width: 51px;
    }
    .foot_bottom h3, .foot_bottom hr{
        margin-left:28%;
    }
    .foot_bottom .bt_left {
        width: 30%;
       
    }
    .foot_bottom .bt_left ul {
        list-style:none ;
    }
    .foot_bottom .bt_left .right {
        float: right;
        top: -11.4pc;
        left: 66px;
        position: relative;
    }
    .foot_bottom ul li {
        padding-left: 20px;
        background: url('bullet_point.png');
        background-size: 20px 20px;
        position: relative;
        display: flex;
        background-position: 0% 84%;
        top:-20px;
        background-repeat: no-repeat;
    }
    .foot_bottom ul li a {
        height: 1px;
        text-decoration: none;
    }
    .foot_bottom .bt_middle {
        /* float: right; */
        left: 40%;
        width: 35%;
        top: -27.7pc;
        position: relative;
    }
    .foot_bottom .bt_right{
        width: 41%;
        left:-3%;
        float: right;
        top: -43pc;
        position: relative;
    }
    footer {
        background-color: black;
        position: relative;
        top: 130px;
        overflow: hidden;
        height: 35pc;
    }
}